Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/LandscapeMountains
Content/Character/Materials
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace